<div class="row">
  <div class="col-4">
    <mat-card
      (click)="onPost()"
      class="cards border mb-2"
      mat-ripple>

      <div class="text-center p-2">
        <img alt="Posts" height="40" width="40" src="./assets/images/test.png">
      </div>

      <div class="text-center">
        <h4 class="text-uppercase"> Posts <br> Management </h4>
      </div>
      <div class="text-center mt-2 icon">
        <i class="fab fa-app-store-ios fa-lg"></i>
      </div>

    </mat-card>
  </div>

  <div class="col-4">
    <mat-card
      (click)="onTodo()"
      class="cards border mb-2"
      mat-ripple>

      <div class="text-center p-2">
        <img alt="Posts" height="40" width="40" src="./assets/images/test.png">
      </div>

      <div class="text-center">
        <h4 class="text-uppercase"> todo <br> Management </h4>
      </div>
      <div class="text-center mt-2 icon">
        <i class="fas fa-chevron-circle-right fa-lg"></i>
      </div>

    </mat-card>
  </div>

  <div class="col-4">
    <mat-card
      (click)="onAlbum()"
      class="cards border mb-2"
      mat-ripple>

      <div class="text-center p-2">
        <img alt="Posts" height="40" width="40" src="./assets/images/test.png">
      </div>

      <div class="text-center">
        <h4 class="text-uppercase"> album <br> Management </h4>
      </div>
      <div class="text-center mt-2 icon">
        <i class="fas fa-book-open fa-lg"></i>
      </div>

    </mat-card>
  </div>
</div>
